@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.table {
  font-size: 0.9rem;
}

.badge {
  padding: 0.5em 0.75em;
  font-weight: 500;
}